.App {
  text-align: center;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth__form {
  width: 500px;
}

.form-control {
  margin-bottom: 15px;
}